.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  font-size: small;
}
.form input {
  background-color: rgb(251, 253, 252);
  border: solid 1px rgb(39, 100, 79);
  border-radius: 5px;
  width: 250px;
  height: 24px;
  padding-left: 10px;
  color: rgb(39, 100, 79);
  margin-top: 5px;
}

.form input:focus {
  outline: none;
}

.form button {
  width: 100px;
  height: 30px;
  background-color: rgb(39, 100, 79);
  border-radius: 5px;
  border: none;
  color: rgb(251, 253, 252);
  font-size: 12px;
}

.form button:hover {
  background-color: rgb(15, 83, 59);
}
